{% extends 'base.html' %}}
{% load static%}

{% block title%}About{% endblock%}{% block content%}

<div class="d-flex m-5">
    <div class="m-5 align-middle">
        <img src={% static 'images/kmc 1.jpg'%} />
    </div>
    <div class="mt-5">
        <h2 class="text-center mb-3">About Us<h2>
            <p>
                Established in the year 1961, Kasturba Hospital has emerged as a premier healthcare institution providing quality tertiary care to both domestic and international patients. Kasturba Hospital, with 2032 beds, is one of the largest private healthcare centers in India. It is an apex teaching hospital attached to Kasturba Medical College, Manipal and an associate hospital of the Manipal Academy of Higher Education. Spread over 11,25, 000 sq. ft. , Kasturba Hospital caters to an average of 3000 outpatients and 200 admissions each day. Patients come from almost all Indian States including many International patients.
            </p>
        </div>
    </div>
{% endblock%}
    